In [1]:
import numpy as np
import pandas as pd
import os
os.chdir('C:\\Users\\Administrator\\Desktop\\Python DataSets')

In [2]:
store = pd.read_csv("Store.csv", encoding="Latin")

In [3]:
#1.How many unique cities are the orders being delivered to
store.City.nunique()

531

In [4]:
#2. What is the total quantity sold in the East Region
east = store[store.Region == 'East'].Quantity.count()
east

2848

In [5]:
#3. What is the sum of quantity sold in the East Region
east = store[store.Region == 'East'].Quantity.sum()
east

10618

In [6]:
#4.In the south region sort the sales in decreasing order
south = store[store.Region == 'South']
desc = south.sort_values('Sales', ascending = False)
desc.iloc[:,[12,17]].head()

     Region      Sales
2697  South  22638.480
8488  South   8749.950
683   South   7999.980
509   South   6354.950
4297  South   4367.896

In [7]:
#5. Find the mean of quantity for every region
mean = store.groupby('Region').Quantity.mean()
mean

Region
Central    3.779595
East       3.728230
South      3.832716
West       3.829535
Name: Quantity, dtype: float64

In [8]:
#6. Find the mean of sales for every category
sales_mean = store.groupby('Category').Sales.mean()
sales_mean

Category
Furniture          349.834887
Office Supplies    119.324101
Technology         452.709276
Name: Sales, dtype: float64

In [9]:
#7. Find the max, min, sum of sales and profit for every category
max_sales = store.groupby('Category')[['Sales','Profit']].agg(['max','min','sum'])
max_sales

                     Sales                        Profit             \
                       max    min          sum       max        min
Category
Furniture         4416.174  1.892  741999.7953  1013.127 -1862.3124
Office Supplies   9892.740  0.444  719047.0320  4946.370 -3701.8928
Technology       22638.480  0.990  836154.0330  8399.976 -6599.9780


                         sum
Category
Furniture         18451.2728
Office Supplies  122490.8008
Technology       145454.9481

In [10]:
#8. Find sum of sales and max profit for every segment 
sales_profit = store.groupby('Segment').agg({'Sales': np.sum, 'Profit': np.max})
sales_profit

                    Sales     Profit
Segment
Consumer     1.161401e+06  6719.9808
Corporate    7.061464e+05  8399.9760
Home Office  4.296531e+05  3919.9888

In [11]:
#9. For every segment find the mean of the discount
store.groupby('Segment').Discount.mean()

Segment
Consumer       0.158141
Corporate      0.158228
Home Office    0.147128
Name: Discount, dtype: float64

In [12]:
#10. For every segment find the most profitable customers

a = store.groupby('Segment').Profit.max() 
b = store.Profit
store[["Customer Name","Segment","Profit"]][np.in1d(b,a)]

     Customer Name      Segment     Profit
2623  Tom Ashbrook  Home Office  3919.9888
6826  Tamara Chand    Corporate  8399.9760
8153  Raymond Buch     Consumer  6719.9808

In [13]:
#11. What are the top 5  sub categories that give maximum profit?
store.groupby('Sub-Category').Profit.max().nlargest(5)

Sub-Category
Copiers      8399.9760
Binders      4946.3700
Machines     2799.9840
Phones       1228.1787
Bookcases    1013.1270
Name: Profit, dtype: float64

In [14]:
#12. What is the Total Sales, Quantity, Discount, Profit across Total US.
store[store.Country == 'United States'][["Sales","Quantity","Discount","Profit"]].agg(['sum'])

            Sales  Quantity  Discount       Profit
sum  2.297201e+06     37873   1561.09  286397.0217

In [16]:
#13. How many times has it taken more than 5 days from placing an order to shipping store.

store['Order Date'] = pd.to_datetime(store['Order Date'])
store['Ship Date'] = pd.to_datetime(store['Ship Date'])
sum(store['Ship Date'] - store['Order Date'] > '5 days')

1822

In [17]:
#14. Find the total number of orders in every category which has been shipped with a duration > 5 days

store[(store['Ship Date'] - store['Order Date'] > '5 days')].groupby('Category')[["Order ID"]].count()

                 Order ID
Category
Furniture             365
Office Supplies      1131
Technology            326

In [18]:
#15. What’s the percentage of items which has been shipped within 5 days

sum((store['Ship Date'] - store['Order Date']) < ' 5 days')* 100/len(store['Order Date'])

60.0060036021613

In [19]:
#16. What’s the percentage of items which has been shipped after 5 days
sum((store['Ship Date'] - store['Order Date']) > ' 5 days')* 100/len(store['Order Date'])

18.230938563137883